$icon-font-path: '../fonts/';
$grid-float-breakpoint:   992px !default;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


 /* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        .jssora05l.jssora05lds      (disabled)
        .jssora05r.jssora05rds      (disabled)
        */
        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../images/Jssor/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }
        .jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
        .jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 01 css *//*.jssort01-99-66 .p            (normal).jssort01-99-66 .p:hover      (normal mouseover).jssort01-99-66 .p.pav        (active).jssort01-99-66 .p.pdn        (mousedown)*/.jssort01-99-66 .p {    position: absolute;    top: 0;    left: 0;    width: 99px;    height: 66px;}.jssort01-99-66 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort01-99-66 .w {    position: absolute;    top: 0px;    left: 0px;    width: 100%;    height: 100%;}.jssort01-99-66 .c {    position: absolute;    top: 0px;    left: 0px;    width: 95px;    height: 62px;    /*border: #000 2px solid;*/    box-sizing: content-box;    background: url('../images/Jssor/t01.png') -800px -800px no-repeat;    _background: none;}.jssort01-99-66 .pav .c {    top: 2px;    _top: 0px;    left: 2px;    _left: 0px;    width: 95px;    height: 62px;    border: #000 0px solid;    /*_border: #fff 2px solid;*/    background-position: 50% 50%;}.jssort01-99-66 .p:hover .c {    top: 0px;    left: 0px;    width: 97px;    height: 64px;    /*border: #fff 1px solid;*/    background-position: 50% 50%;}.jssort01-99-66 .p.pdn .c {    background-position: 50% 50%;    width: 95px;    height: 62px;    /*border: #000 2px solid;*/}* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {    /* ie quirks mode adjust */    width /**/: 99px;    height /**/: 66px;}




.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    line-height: 1.6;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.navbar {
    min-height: 94px;
    background-color: #5daad5;
    color: white;
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
}

.mainmenu {
    position: absolute;
    bottom: 0;
    left: 218px;
}

.navbar-brand {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.container-narrow > hr {
  margin: 30px 0;
}

.form-control {
    border-radius: 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-image: url(../images/jumbodesktop.jpg);
    background-position: center;
    background-size: 100%;
    margin-bottom: 0px;
    height: 230px;
    text-align: left;
    position: relative;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.jumbotron h1{
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: 300;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.header,
.marketing,
.footer {
    padding-left: 0;
    padding-right: 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */

  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

hr{
    border-top: 2px solid #848484;
}

.sideSearch {
    padding-right: 15px;
}

.sideBar legend {
    border-bottom: none;
}

.sideBar .rating{
    font-size: 20px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

/*
    cursor: default;
    position: absolute;
    overflow: hidden;
    left: 14px;
    top: 0;
    width: 226px;
    height: 480px;
    z-index: 0;
*/

.blueText{
    color: #5daad5;
}

.eventTitle{
    display: inline-block;
    font-weight: 600;
}

.eventLocation{
    display: inline-block;
    padding-left: 15px;

}

#language{
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    box-shadow: none;
    color: white;
    background-color: #5daad5;
}

.mainSearch{
    background-color: #535353;
    height: 50px;
}

.mainSearch form{
    display: inline-block;
}

.mainSearch .form-group{
    display: inline-block;
}

.mainSearch h3{
    display: inline;
}

.nav:after {
    display: inline;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    color: #5daad5;
}

.nav-tabs > li > a {
   color: #282828;
}

.tab-content{
    margin-top: 15px;
}

.sideBar {
     margin-top: 15px;
}

.tab-pane {
    text-align: justify;
}

.venueInfo > div {
    position: relative;
    top: 1px;
    line-height: 1;
   padding-top: 6px;
}

.address:before {
    content: url(../images/iconLocation.png);
    top: 4px;
    position: relative;
    padding-right: 6px;
}

.phone:before {
    content: url("../images/iconPhone.png");
     top: 4px;
    position: relative;
    padding-right: 6px;
}

.fax:before {
    content: url("../images/iconFax.png");
     top: 4px;
    position: relative;
    padding-right: 6px;
}

.email:before {
    content: url("../images/iconEmail.png");
    top: 4px;
    position: relative;
    padding-right: 6px;
}

.site:before {
    content: url("../images/iconSite.png");
    top: 4px;
    position: relative;
    padding-right: 6px;
}

.eventDate:before {
    content: url("../images/iconCalendar.png");
    top: 4px;
    position: relative;
    padding-right: 6px;
}

.btn-primary, .btn-default {
    background-color: #5daad5;
    color: white;
    font-weight: 700;
    border: 3px solid #5daad5;
    border-radius: 0;
}

.btn-primary:active, .btn-primary.active, .btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .btn-primary.active.focus:hover,
.btn-default:active, .btn-default.active, .btn-default:focus, .btn-default.focus, .btn-default:hover, .btn-default:active:hover, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .btn-default.active.focus:hover{
    background-color: white;
    color: #5daad5;
    border: 3px solid #5daad5;
    border-radius: 0;
    outline: 0;
}

.social {
    float: right;
    padding-top: 15px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 8px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .dropdown.alternative {
    right: 0;
    top: 5px;
    position: absolute;
    padding-right: 20px;
}

@media (max-width: 991px) {
    .nav-tabs {
        font-size: 12px;
    }

    .mainmenu {
        position: relative;
        left: 0;
    }

    .navbar {
        min-height: 50px;
    }

    .jumbotron h1 {
        position: relative;
        text-align: center;
        font-size: 50px;
        transform: translateY(50%);
    }
}


@media (max-width: 767px) {

    .jumbotron h1 {
        font-size: 40px;
        transform: none;
        margin-top: 0;
   }
    .venueInfo > div {
        text-align: center;
        font-size: 11px;
        word-wrap: break-word;
    }

    .venueInfo > div:before {
        display: block;
        padding-bottom: 10px;
    }

    .jssort01-99-66 {
        display: none;
    }

    .sideBar {
        padding-left: 0;
        padding-right: 0;
    }
    .sideBar .rating {
        text-align: center;
        background-color: #282828;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 15px;
    }

    .sideBar legend {
        color: white;
    }

    .eventLocation {
        display: block;
        padding-left: 0;
    }
}
